$primary: (
  50: #ffece4,
  100: #fed0ba,
  200: #feb08d,
  300: #fe905f,
  400: #fd793c,
  500: #fd611a,
  600: #fd5917,
  700: #fc4f13,
  800: #fc450f,
  900: #fc3308,
  A100: #ffffff,
  A200: #fff2f1,
  A400: #ffc6be,
  A700: #ffb0a4,
  contrast: (700: #fc4f13,
    800: #fc450f,
    900: #fc3308)
);

$accent: (
  50: #e9eef7,
  100: #c8d6ea,
  200: #a3badc,
  300: #7e9ece,
  400: #628ac4,
  500: #4675b9,
  600: #3f6db2,
  700: #3762aa,
  800: #2f58a2,
  900: #204593,
  A100: #cfddff,
  A200: #9cb9ff,
  A400: #6995ff,
  A700: #4f83ff,
  contrast: (
    500: #4675b9,
    600: #3f6db2,
    700: #3762aa,
    800: #2f58a2,
    900: #204593
  )
);

$text: (
  50: #e6e6e6,
  100: #c1c1c1,
  200: #979797,
  300: #6d6d6d,
  400: #4e4e4e,
  500: #2f2f2f,
  600: #2a2a2a,
  700: #232323,
  800: #1d1d1d,
  900: #121212,
  A100: #ef6b6b,
  A200: #e93d3d,
  A400: #f30000,
  A700: #da0000,
  contrast: (
    300: #6d6d6d,
    400: #4e4e4e,
    500: #2f2f2f,
    600: #2a2a2a,
    700: #232323,
    800: #1d1d1d,
    900: #121212,
    A100: #ef6b6b,
    A200: #e93d3d,
    A400: #f30000,
    A700: #da0000
  )
);